body{
    font-family: 'Roboto', sans-serif;
    background-color: #eef9bf;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-weight: 700;
    font-style: normal;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -0.004em;

    text-align: center;

    color: #75b79e;

    padding: 40px 0 47px 0;
    

}
main{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    gap: 34px 34px;

    padding: 0 116px;
}
.carta{
    width: 117px;
    height: 146px;
    background-color: #a7e9af;
    border: 1px solid #99cea8;
    box-sizing: border-box;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.carta img{
    width: 100px;
    height: 100px;

}

.escondido{
    display: none;
}









@media(max-width: 614px){
    h1{
        font-size: 36px;
        line-height: 42px;

    }
    main{
        width: 60%;
    }
}


